.support {
  background-color: black;
  max-height: 795px;
  color: #E7E9ED;
}

.support__blocks {
  padding-top: 119px;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 99px;
}

.support__content {
  margin: 0;
  padding-bottom: 149px;
  max-height: 497px;
}

.suport__content_background-white {
  margin: 0;
  width: 541px;
  max-height: 280px;
  background-color: aliceblue;
  color: black;
  border-radius: 10px;
}

.support__title {
  margin: 0;
  max-width: 469px;
  font-size: 48px;
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  line-height: 58px;
  margin-bottom: 15px;
}

.support__subtitle {
  margin: 0;
  color: gray;
  max-width: 384px;
  font-size: 19px;
  font-family: "Gilroy", sans-serif;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 60px;
}

.support__description {
  margin: 0;
}

.support__info {
  margin: 0;
  display: flex;
  column-gap: 22px;
}

.support__icon-check {
  width: 30px;
  height: 30px;
  margin: 0;
  justify-content: end;
}

.support__info-content {
  margin: 0;
  margin-bottom: 40px;
  flex-direction: column;
}

.support__info-title {
  margin: 0;
  font-size: 21px;
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  line-height: 32px;
  margin-bottom: 11px;
}

.support__info-text {
  margin: 0;
  max-width: 339px;
  color: gray;
  font-size: 17px;
  font-family: "Gilroy", sans-serif;
  font-weight: 300;
  line-height: 29px;
}

.support__questions {
  display: flex;
  margin: auto auto;
  max-width: 477px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #c3c3c4;

}

.support__question {
  max-width: 456px;
  font-size: 21px;
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  line-height: 32px;
  margin-bottom: 25px;
}

.support__answer {
  margin: 0 auto;
  display: block;
  width: 477px;
  font-size: 17px;
  font-family: "Gilroy", sans-serif;
  font-weight: 300;
  line-height: 29px;
  margin-bottom: 25px;
}

.support__icon-right {
  width: 12px;
  height: 12px;
}

.support__icon-right_rotated {
  transform: rotate(-90deg);
}